<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">



<suite name="Smoke"> 
	
	<parameter name="username" value="admin123@gmail.com"></parameter> 
	<parameter name="password" value="admin123"></parameter>
	
	<!-- <listeners>
		<listener class-name="com.testng.listeners.TestListener"></listener>
		
	</listeners> -->
	  
	<test name="Login">
		<classes>
			<class name="com.testng.tests.LoginTest"/>
		</classes>		
	</test>	
	
</suite>